



@font-face {
    font-family: CocoSharp_ExtraLight;
    src : url("../../assets/fonts/Coco-Sharp-Extralight-trial.ttf");
}
@font-face {
    font-family: CocoSharp_Light;
    src : url("../../assets/fonts/Coco-Sharp-Light-trial.ttf");
}
@font-face {
    font-family: CocoSharp_ExtraBold;
    src : url("../../assets/fonts/Coco-Sharp-Extrabold-trial.ttf");
}
@font-face {
    font-family: CocoSharp_Heavy;
    src : url("../../assets/fonts/Coco-Sharp-Heavy-trial.ttf");
}
@font-face {
    font-family: CocoSharp_ExtraLight;
    src : url("../../assets/fonts/Coco-Sharp-Extralight-trial.ttf");
}
